http {
    upstream myapp1 {
        server 192.168.56.3:5000;
        server 192.168.56.3:5001;
        server 192.168.56.3:5002;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://myapp1;
        }
    }
}