http {
    upstream myapp1 {
        server 172.20.0.2:5000;
        server 172.20.0.3:5001;
        server 172.20.0.4:5002;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://myapp1;
        }
    }
}