upstream loadbalancer {
    server localhost:5000;
    server localhost:5001
    server localhost:5002;
}

server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
    proxy_pass http://loadbalancer;
}}